<div class="content2-wrapper text-center d-flex flex-column">
  <h1>Veja Alguns Depoimentos</h1>
  <div>
    <span class="text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.""Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.""Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</span>
    <span class="">Nome</span>
    <span class="">Posição</span>
  </div>
</div>
