<div>
  <span>ods</span>
  <h1>Como o +10 impacta nos ODS da ONU</h1>
  <span>o projeto +10 apoia os Objetivos de
    Desenvolvimento Sustentável (ODS) da
    Organização das Nações
    Unidas (ONU). Apadrinhando o Projeto +10 você promove o desenvolvimento, a
    transferência, a disseminação e a difusão da tecnologia social
    ambientalmente correta dos biodigestores domésticos. Ela está
    diretamente ligada aos Objetivos do Desenvolvimento Sustentável
    (ODS) da Organização das Nações Unidas (ONU)</span>
    <div class="filters d-flex text-center">
      <div>Todos</div>
      <div>Pessoas</div>
      <div>Planeta</div>
      <div>Prosperidade</div>
      <div>Paz</div>
    </div>
    <div>
      <div class="d-flex">
        <div class="flex-column">
          <!-- Collumn 1 - odd -->
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/1ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/3ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/5ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/7ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/9ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/11ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/13ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/15ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/17ODS.svg" />
              <span>Erradicação da Probreza</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a pobreza em todas as suas formas, em todos os lugares.</span>
            </div>
          </div>
        </div>
        <!-- Collumn 2 - even -->
        <div class="flex-column">
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/2ODS.svg" />
              <span>Fome Zero e Agricultura Sustentável</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a fome, alcançar a segurança alimentar e melhoria da
                nutrição e promover a agricultura sustentável.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/4ODS.svg" />
              <span>Fome Zero e Agricultura Sustentável</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a fome, alcançar a segurança alimentar e melhoria da
                nutrição e promover a agricultura sustentável.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/6ODS.svg" />
              <span>Fome Zero e Agricultura Sustentável</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a fome, alcançar a segurança alimentar e melhoria da
                nutrição e promover a agricultura sustentável.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/8ODS.svg" />
              <span>Fome Zero e Agricultura Sustentável</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a fome, alcançar a segurança alimentar e melhoria da
                nutrição e promover a agricultura sustentável.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/10ODS.svg" />
              <span>Fome Zero e Agricultura Sustentável</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a fome, alcançar a segurança alimentar e melhoria da
                nutrição e promover a agricultura sustentável.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/12ODS.svg" />
              <span>Fome Zero e Agricultura Sustentável</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a fome, alcançar a segurança alimentar e melhoria da
                nutrição e promover a agricultura sustentável.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/14ODS.svg" />
              <span>Fome Zero e Agricultura Sustentável</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a fome, alcançar a segurança alimentar e melhoria da
                nutrição e promover a agricultura sustentável.</span>
            </div>
          </div>
          <div class="card-wrapper-ods">
            <div>
              <img class="me-2" src="{{ .Site.BaseURL }}/images/ods/16ODS.svg" />
              <span>Fome Zero e Agricultura Sustentável</span>
              <a href="#">saiba mais</a>
            </div>
            <div>
              <span>Acabar com a fome, alcançar a segurança alimentar e melhoria da
                nutrição e promover a agricultura sustentável.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
