<div class="content2-wrapper text-center d-flex flex-column">
  <h1>Beneficios dos biodigestores</h1>
  <div class="container">
    <div class="row-1 d-flex">
      <div class="card-wrapper ">
        <img class="me-2" src="{{ .Site.BaseURL }}/images/benefits/frame-7.svg" />
        <span>Biodigestores</span>
        <a href="#">Ver Mais</a>
      </div>
      <div class="card-wrapper ">
        <img class="me-2" src="{{ .Site.BaseURL }}/images/benefits/frame-2.svg" />
        <span>Biogás para Cozinhar</span>
        <a href="#">Ver Mais</a>
      </div>
      <div class="card-wrapper ">
        <img class="me-2" src="{{ .Site.BaseURL }}/images/benefits/frame-3.svg" />
        <span>Biogás para Cozinhar</span>
        <a href="#">Ver Mais</a>
      </div>
      <div class="card-wrapper ">
        <img class="me-2" src="{{ .Site.BaseURL }}/images/benefits/frame-4.svg" />
        <span>Biogás para Cozinhar</span>
        <a href="#">Ver Mais</a>
      </div>
    </div>
    <div class="d-flex row-2">
      <div class="card-wrapper ">
        <img class="me-2" src="{{ .Site.BaseURL }}/images/benefits/frame-7.svg" />
        <span>Biodigestores</span>
        <a href="#">Ver Mais</a>
      </div>
      <div class="card-wrapper ">
        <img class="me-2" src="{{ .Site.BaseURL }}/images/benefits/frame-2.svg" />
        <span>Biogás para Cozinhar</span>
        <a href="#">Ver Mais</a>
      </div>
      <div class="card-wrapper ">
        <img class="me-2" src="{{ .Site.BaseURL }}/images/benefits/frame-3.svg" />
        <span>Biogás para Cozinhar</span>
        <a href="#">Ver Mais</a>
      </div>
    </div>
  </div>
</div>
