<div>
  <div>
    <h1>Patrocinadores Ouro</h1>
    <img class="me-2" src="{{ .Site.BaseURL }}/images/patrocinadores/ouro.svg" />
    <h2>Patrocinadores Prata</h2>
    <img class="me-2" src="{{ .Site.BaseURL }}/images/patrocinadores/prata.svg" />
    <h3>Patrocinadores Bronze</h3>
    <img class="me-2" src="{{ .Site.BaseURL }}/images/patrocinadores/bronze.svg" />
  </div>
  <div class="d-flex ">
    <div>
      <h2>Realização</h1>
    </div>
    <div>
      <h2>Patrocinador Tecnológico</h1>
    </div>
  </div>
</div>
