<div class="d-flex flex-column justify-content-center content-wrapper">
  <span class="small-text">
    blog
  </span>
  <span class="big-text">
    Ações Recentes
  </span>
  <div class="d-flex images-wrapper">
    <div>
      <img src="{{ .Site.BaseURL }}/images/blog/img2.png">
      <span>Blog title heading will go here</span>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</span>
      <a>ler mais</a>
    </div>
    <div>
      <img src="{{ .Site.BaseURL }}/images/blog/img1.png">
      <span>Blog title heading will go here</span>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</span>
      <a>ler mais</a>
    </div>
  </div>
</div>
